<% provide(:title, 'About Us')%>
<div class="row">
	<div class="col-md-12">
		<h1>About Us</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">The Project</h3>
			</div>
			<div class="panel-body">
				<p>
					Zaftool is short for "<b>Z</b>en and the <b>A</b>rt of <b>F</b>inding the right <b>Tool</b>." The name is inspired by Robert Pirsig's <em><a target="_blank" href="http://www.amazon.com/s/?_encoding=UTF8&ajr=0&camp=1789&creative=390957&field-keywords=zen%20and%20the%20art%20of%20motorcycle%20maintenance&linkCode=ur2&rh=n%3A283155%2Ck%3Azen%20and%20the%20art%20of%20motorcycle%20maintenance&tag=maintenanceto-20&url=search-alias%3Dstripbooks&linkId=BPIDUK7C2YL7KXYC">Zen and the Art of Motorcycle Maintenance</a></em><img src="https://ir-na.amazon-adsystem.com/e/ir?t=maintenanceto-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />.
					The goal of this project is to create a directory listing all the tools you need for a job, relying on user contributions to keep each listing accurate, precise, and up-to-date.
				</p>
				<p>
					Use the site to save the tools needed for the job, helping yourself and everyone else who can't remember what size that oil plug is or what that valve clearance should be.
				</p>
				<p>
					Zaftool is a crowd-sourced platform, all the information user contributed. If some info is missing that you need, be sure to request an update. Contributors and our internal team are more likely to update a bike/service with lots of requests.
				</p>
				<p>
					If you would like to contribute, <%= link_to 'view the most requested updates', model_year_services_path %> and update the most requested listings.
				</p>
				<p>
					The best thing you can do to help keep the site running is contribute knowledge, but we do have to pay hosting bills, etc. to keep the site running. Currently we rely on Amazon referral fees and monetary contributions. If the site can keep going on that, the space used for ads can be minimized.
				</p>
				<p>
					If there is anything you want added or improved on the site, please <a href="mailto:mark@zaftool.com">drop me a line</a>.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">The Team</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-4">
					<img alt="Mark Siemers" src="https://graph.facebook.com/mark.siemers/picture?width=9999&height=9999">
				</div>
				<div class="col-md-8">
					<span class="name"><b>Mark Siemers</b></span>
					<br />
					<span class="title"><b>Founder &amp; Lead Programmer</b></span>
					<p>
						Yeah, just me right now. I have three bikes for no good reason. A Hyosung, a Ducati, and a Kawasaki. The site is partly created so I can keep track of how to keep them running!<br />
						<a href="mailto:mark@zaftool.com">E-mail Mark</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

