<% provide(:title, @model.full_name) %>
<div class="row">
	<div class="col-md-2 text-center">
		<%= image_tag_thumbnail_from_model_full_name(@model.full_name) %>
  </div>
  <div class="col-md-3">
      <h3>      	
        <%= "#{@model.full_name}" %>       
      </h3>
  </div>
  <div class="col-md-7">
    <% if @model.model_years.any? %>
      <table class="table table-striped">
				<thead>
			    <tr>
			    	<th>Model Years</th>
			    </tr>
			  </thead>
			  <tbody>
        	<%= render @model_years %>
        </tbody>
      </table>
      <%= will_paginate @model_years %>
    <% end %>
  </div>
</div>