<li>
  <%= link_to make.name, make %>
  <% if signed_in? && current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>