<div id="edit-model-year-service-requirement-modal-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit-model-year-service-requirement-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    	<!-- Content inserted from remote call -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->