<% provide(:title, "Contact") %>
<div class="row">
	<div class="col-md-12 text-center">
    <h1>Thank you for your message.</h1>
    <p>We'll get back to you soon.</p>
    <p>Goto <%= link_to "Home page", root_url %> or <%= link_to "Help page", help_path %>.
  </div>
</div>