<div class="col-md-4 requirement-list">
	<h4>Specifications</h4>
	<div class="panel panel-default">
    <div class="panel-body text-center">
    	<%= "No Specifications have been added yet. Use button below to add" %>
    </div>
  </div>
	<br />
	<div class="text-center">
		<%= render partial: 'add_specification_button' %>
	</div>
</div>