<tr>
	<td><%= link_to model_year_service.model_year.name,
	                model_year_service %></td>
	<td><%= link_to model_year_service.service.name,
	                model_year_service %></td>
	<td><%= model_year_service.model_year_service_update_requests_count %></td>
  <td>6mo/600mi</td>
  <td>12mo/2500mi</td>
</tr>