<% provide(:title, "Edit Vehicle") %>
<h1>Edit Vehicle</br><small><%= @user_vehicle.model_year.name %></small></h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= render 'edit_form' %>

		<%= link_to 'Show this vehicle', @user_vehicle %> |
		<%= link_to 'List all my Vehicles', user_vehicles_path %>

	</div>
</div>