<div class="container">
<footer class="footer landing-footer">
  <small>
    <a href="http://zaftool.com/">zaftool.com</a>
    by Mark Siemers
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
</div>
